@use './vars' as v;

@mixin btnTransparent {
  background-color: transparent;
  color: v.$text-primary;
}

@mixin btnSquare ($size: 3rem) {
  width: $size;
  height: $size;
  padding: 0;
}

@mixin btnSmall {
  font-size: .8rem;
  padding: 0.5rem .8rem;
}

@mixin btnChip {
  @include btnSmall;
  @include btnTransparent;
  box-shadow: v.$bg-stroke 0 0 0 .1rem inset;

  &:hover:not(:disabled) {
    box-shadow: transparent 0 0 0 .1rem inset;
  }

  &:focus-visible {
    box-shadow: v.$focus;
  }
}

@mixin box {
  border-radius: v.$radius;
  background: v.$bg-secondary;
}