$accent: #00C2FF;
$danger: #FF4444;
$success: #89ff44;
// $bg-primary: #FFFFFF;
// $bg-secondary: #ececec;
// $bg-stroke: #dadada;
// $text-primary: #2a2a2a;
// $text-secondary: #949494;

$bg-primary: #000000;
$bg-secondary: #171717;
$bg-stroke: #282828;
$text-primary: #FFFFFF;
$text-secondary: #636363;

$radius: 1rem;
$focus: $accent 0 0 0 1px inset, rgba($accent, .1) 0 0 0 .4rem;
$focus-danger: $danger 0 0 0 1px inset, rgba($danger, .1) 0 0 0 .4rem;

:root {
  --col-gray: #474953;
  --col-red: #FF7676;
  --col-orange: #FFAD61;
  --col-yellow: #FCFF6B;
  --col-green: #92FF6B;
  --col-cyan: #7AFFDF;
  --col-blue: #799FFF;
  --col-purple: #C275FF;
  --col-pink: #FF6BCD;
}

$col-gray: var(--col-gray);
$col-red: var(--col-red);
$col-orange: var(--col-orange);
$col-yellow: var(--col-yellow);
$col-green: var(--col-green);
$col-cyan: var(--col-cyan);
$col-blue: var(--col-blue);
$col-purple: var(--col-purple);
$col-pink: var(--col-pink);

// $col-gray: #474953;
// $col-red: #FF7676;
// $col-orange: #FFAD61;
// $col-yellow: #FCFF6B;
// $col-green: #92FF6B;
// $col-cyan: #7AFFDF;
// $col-blue: #799FFF;
// $col-purple: #C275FF;
// $col-pink: #FF6BCD;