$accent: #00C2FF;
$bg-primary: #000000;
$bg-secondary: #171717;
$text-primary: #FFFFFF;
$text-secondary: #636363;

$radius: .75rem;
$glow: 0px 0px .2rem #0085FF, 0px 0px 2rem rgba(0, 133, 255, 0.5), 0px 0px 4rem rgba(0, 133, 255, 0.1);